body {
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
}

.container {
  margin: 0;
}

h3 {
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}

#settings_container {
  display: none;
  background: Moccasin;
}

#clock_container {
  position: relative;
}

#local {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#time {  /* The large local time */
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 2em;
  text-align: center;
}

#dateDiv {
  margin-top: 0.3em;
  text-align: center;
}

#tbl-container {
}

#tbl {
  width: 100%;
}

.tzname {
  text-align: right;
  font-size: 100%;
  vertical-align: bottom;
  color: lightgray;
}

.tztime {
  vertical-align: bottom;
}

.bad_tztime {
  vertical-align: bottom;
  color: red;
}

#options-link-div {
  text-align: right;
  margin-right: 0.2em;
}

#options-link-div a, #dateDiv a {
    color: black;
    border: none;
    outline: none;
    text-decoration: none;
}

#text-container {
  float: left;
  margin: 1em;
  max-width: 20em;
}

#options_clock_container {
  float: left;
  margin: 1em;
  padding: 0.4em;
  border: 1px solid #aaaaaa;
}

#zonelist {
  display: block;
}

.instructions-list {
  font-size: 0.8rem;
  margin-top: 2em;
  list-style: none;
  padding: 0;
}

.instructions-list li:before
{
  content: '\2013'; /* U+2013 = &ndash; */
  margin-left: -1em;
  margin-right: 0.5em;
}

.instructions-list li
{
  margin-left: 1em;
}


.status-error {
  color: red;
}

#datepicker {
  margin-top: 1rem;
  font-size: 0.5rem;
}


/******* jQuery-UI overrides *******/
.ui-state-highlight {
  border-color: #d3d3d3 !important;
  background: #fcefa1 !important;
}

.ui-datepicker-inline {
  /*border: none;*/
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.ui-datepicker-header {
  border: none;
  background: white;
}

